@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    /* background-color: #00000053; */
}

body {
    overflow-x: hidden;
}
.imgHover>div{
    transition: all 1s;
}
.imgHover:hover>div {
    transition: all 0.6s;
    top: 0;
}
.img-hover:hover >div{
    background-color: orange;
    color: white;
}

